* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;     
    display: flex;    
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    -webkit-box-shadow: 2px 12px 36px 5px rgba(0,0,0,0.49); 
    box-shadow: 2px 12px 36px 5px rgba(0,0,0,0.49);
}

.logo {
    color: rgb(37, 150, 243);
    font-size: 25px;
    margin-left: 40px;
    margin-top: 10px;
}


nav {
    display: flex;
    padding: 10px;
    gap: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: gray;
}
