* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;     
    display: flex;    
    flex-direction: column;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------NavBar Section--------------- */

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    /* position: sticky; */
    top: 0;
    z-index: 1000;
}

.logo {
    color: #2563eb;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 10px;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    padding: 10px;
    gap: 20px;
    font-size: 15px;
    padding-right: 80px;
}

a {
    text-decoration: none;
    color: gray;
}

/* ---------------Hero Section---------------- */

.hero {
    background-color:rgb(240, 240, 240) ;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    display: flex;
    /* margin-bottom: 20px; */
}

.hero-content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-content h1 {
    font-size: 50px;
}

.hero-content p {
    color: gray;
    /* font-size: 20px; */
}

.hero-content button {
    width: 200px;
    height: 50px;
    background-color: rgb(37, 99, 235);
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font: bold;
    border: 0;
}

.hero-content button:hover  {
    background-color: rgb(43, 50, 242);
    -webkit-box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33); 
    box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33);
    cursor: pointer;
}

.hero-image {
    margin-right: 10%;
    border-radius: 50%;
    margin-top: 3%;
    margin-bottom: 20px;
}

.hero-image img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    object-fit: cover;
}



/* ---------------About Me Section---------------- */

.about-section {
    /* background-color: wheat; */
    width: 100%;
    height: 400px;
    justify-content: space-between;
    display: flex;
    padding: 60px;
}

.about-text {
    width: 75%;
    /* background-color: aquamarine; */
    /* padding: 60px; */
    display: flex;
    flex-direction: column;
    gap: 25%;
    /* padding: 20px; */
}


.about-text h2 {
    font-size: 40px;
}

.about-text p {
    color: gray;
    font-size: 19px;
}

.skills-container {
    width: 50%;
    /* background-color: rgb(182, 255, 127); */
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.skill-tags {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

}

.skills-container {
    max-width: 400px; /* התאמה לגודל שמופיע בתמונה */
    font-family: 'Inter', sans-serif;
}

.skills-container h2 {
    font-size: 28px;
    font-weight: 800;
    color: #1e293b;
    margin-bottom: 30px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.skill-name {
    font-size: 18px;
    font-weight: 500;
    flex: 1;
}


.progress-bar {
    width: 150px;
    height: 8px;
    background-color: #e2e8f0;
    border-radius: 10px;
    overflow: hidden; 
}


.progress-fill {
    height: 100%;
    background-color: #2563eb;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}


/* ------------Projects Section----------------- */

.projects-section {
    background-color:rgb(240, 240, 240) ;
    width: 100%;
    height: 700px;
}

.projects-section h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 30px;
    width: 100%;
}

.projects-grid {
    display: flex;
    flex-direction: row;     
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 30px;               
    width: 100%;            
}

.project-card {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 199);
    -webkit-box-shadow: -2px 1px 45px -4px rgba(0,0,0,0.67); 
    box-shadow: -2px 1px 45px -4px rgba(171, 171, 171, 0.67);
}

.card-image {
    border-top-width: 10px ;
    width: 100%;
    height: 50%;
    /* background-color: #2563eb; */
    border-radius: 15px 15px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0; 
    /* overflow: hidden; */
}

.card-content {
    margin: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.card-content p {
    margin-bottom: 20px;
    color: gray;
    /* text-align: center; */
    line-height: 1.5;
}

.card-content button {
    color: white;
    font-size: 14px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    width: 110px;
    height: 40px;
}

/* -----------------Contact Section----------------- */


.contact-section {
    padding: 80px ;
    background-color: #ffffff;
}

.contact-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
    color: #1e293b;
}


.contact-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}


.contact-form {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-weight: 600;
    color: #334155;
    font-size: 14px;
}

.input-group input, 
.input-group textarea {
    padding: 12px 15px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f8fafc;
}

.input-group textarea {
    height: 150px;
}


.send-btn {
    background-color: #2563eb;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

.send-btn:hover {
   background-color: rgb(43, 50, 242);
    -webkit-box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33); 
    box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33);
    cursor: pointer;
}



.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info h4 {
    font-size: 20px;
    color: #1e293b;
    margin-bottom: 10px;
}

.info-item {
    color: #64748b;
    font-size: 16px;
}


.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #2563eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.social-icon:hover {
    background-color: rgb(43, 50, 242);
    -webkit-box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33); 
    box-shadow: -2px 9px 17px 2px rgba(0,0,0,0.33);
    cursor: pointer;
    width: 45px;
    height: 45px;
}




/* ----------------Footer -------------------- */

footer {
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    background-color: #1e293b;
    display: flex;
    align-items: center;  
    justify-content: center; 
}


/* ---------- responsive Design -----------------*/

@media (max-width: 768px) {

    /* ---------------NavBar Section--------------- */

    .header {
        position: relative;
    }

    .nav-container {
        display: flex;
        align-items: center;
        height: 50px;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        flex-direction: column;
        width: 200px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        border-radius: 0 0 8px 8px;
        padding: 10px 0;
        z-index: 1000;
    }

    .nav a {
        padding: 15px 20px;
        text-decoration: none;
        color: #1e293b;
        display: block;
        border-bottom: 1px solid #f1f5f9;
    }

    .nav-container:hover .nav {
        display: flex;
    }
    

    /* ---------------Hero Section---------------- */

    .hero {
        flex-direction: column; 
        text-align: center;
        padding: 30px 40px;
        display: flex;
        text-align: center;
        height: auto;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 0px; 
    }

    .hero-content h1 {
        font-size: 2.2rem;
        margin-bottom: 5px;
    }

    .hero-content p {
        font-size: 1.1rem;
        max-width: 100%; 
    }

    .hero-content button {
        width: 50%;
    }

     .hero-image {
        margin-right: 0;
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    /* ---------------About Me Section---------------- */

    .about-section {
        flex-direction: column; 
        text-align: center;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        height: auto;
    }

    .about-text {
        margin-bottom: 50px;
    }

    .about-text h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
        text-align: center;
    }

     .about-text p {
        width: 100%;
    }

    .skills-container {
        width: 100%;
        padding: 20px;
    }

    .skills-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .skill-item {
        width: 100%;
        gap: 70px;
    }

    .skill-name {
        width: 90px;
    }

    .progress-bar {
        flex: 1;
        height: 6px;
    }

    .progress-fill {
        height: 100%;
    }

    /* ------------Projects Section----------------- */

    .projects-section {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 30px;
        height: auto;
    }

    .card-content button {
        width: 100%;
    }


    /* -----------------Contact Section----------------- */

    .contact-section {
        display: flex;
        flex-direction: column;
        /* align-items: center;  */
        gap: 30px;
        height: auto;
    }

    .contact-wrapper {
        width: 100%;
        flex-direction: column;

    }

    .contact-form button {
        width: 100%;
    }

    .contact-info {
        align-items: center;
    }

}